@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
body
{
    background:   #4a4063;
}

.section{
  background-color: azure;
  border-radius: 30px;
  width: 700px;
}

#start{
    position: relative;
    animation-name: titulo;
    animation-duration: 4s;
  }

  @keyframes titulo {
    0%   { left:0px; top:0px;}
    25%  { left:0px; top:400px;}
    50% { left:0px; top: 0px; }
  }


  .cuerpo{
    width: 730px;
    margin: 100px auto 50px;
    display: flex;
    align-items: center;
  }
/* 50%  { left:400px; top:600px;}
75%  { left:0px; top:200px;}
100% { left:0px; top:0px;}*/

button{
  height: 100px;
  width: 100px;
  font-size: 20px;
  color:white; /*cambia el color de las letras*/
  font-weight: bold;
}

.section1{
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0 10px 10px 10px ;
  border-radius: 8px;
  
}

h1{
  text-align: center;

}

button:hover{
  cursor: pointer;
}



.section2{
  background-color: rgba(255, 255, 255, 0.2);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 400px;
  width: 250px;
  padding: 0 20px;
}

.estadisticas{
  border: 1px solid white;
  font-size: large;
  color: aliceblue;
  height: 105px;
  border-radius: 8px;
  padding: 8px 20px;
  box-sizing: border-box;

}

#contenedoranimales{
  background-color: #FFC562;
	max-width: 700px;
	margin: auto;
	border: 2px solid #000;
	border-radius: 20px;
	display: flex;
	padding: 50px 0;
}

.izquierdo{
	width: 70%;
	font-size: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.derecha{
	width: 30%;
}
.msj{
	font-size: 40px;
	height: 50px;
}
.derecha{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.opcion{
	width: 100px;
	height: 80px;
	border: 1px solid  #000;
	font-size: 20px;
	margin-bottom: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #000;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.opcion:hover{
	background-color: #262626;
}

p {
  font: 22pt sans-serif;
  margin: 20px 20px 0px 20px;
}

/**
* Styles for the puzzle
*/
#juego {
  border: 1px solid black;
  padding: 20px;
  float: left;
  margin: 30px 20px;
}

#juego div {
  width: 100%;
  margin: 0 auto;
}

/* style for each square in the puzzle */
#juego .puzzleSquare {
  height: 30px;
  width: 30px;
  text-transform: uppercase;
  background-color: white;
  border: 0;
  font: 1em sans-serif;
}

button::-moz-focus-inner {
  border: 0;
}

/* indicates when a square has been selected */
#juego .selected {
  background-color: orange;
}

/* indicates that the square is part of a word that has been found */ 
#juego .found {
  background-color: blue;
  color: white;
}

#juego .solved {
  background-color: purple;
  color: white;
}

/* indicates that all words have been found */
#juego .complete {
  background-color: green;
}


#Palabras {
        padding-top: 21px;
}
#Palabras ul {
  list-style-type: none;
}

#Palabras li {
  padding: 3px 0;
  font: 1em sans-serif;
}

/* indicates that the word has been found */
#Palabras .wordFound {
  text-decoration: line-through;
  color: gray;
}

.contenedor{
  display: flex;
}

.contenedor .col {
  width: 50%;
}

