{% extends "layout.html" %}
{% block title %}
{% endblock %}

{% block main %}
<a href="/"><button type="button" class="btn-close btn-close-white" aria-label="Close"></button></a>
<center>
<h1 id="start" style="font-family: 'Rubik Glitch', cursive;color: antiquewhite;">BONUS GAMES</h1><br><br><br><br>

<a href="/hexgl"><button id="start" style="font-family: 'Rubik Bubbles', cursive;color: antiquewhite;width:500px" type="submit" class="btn btn-success">COLORON</button><br><br><br></a> 
</center>
{% endblock %}