{% extends "layout.html" %}
{% block title %}
{% endblock %}

{% block main %}
<a href="/levels"><button type="button" class="btn-close btn-close-white" aria-label="Close"></button></a>
<center>
<h1 id="start" style="font-family: 'Rubik Glitch', cursive;color: antiquewhite;">ARCHADE</h1><br><br><br><br>

<a href="/dino"><button id="start" style="font-family: 'Rubik Bubbles', cursive;color: antiquewhite;width:500px" type="submit" class="btn btn-success">Google Dinosaur</button><br><br><br></a> 
<a href="/dash"><button id="start" style="font-family: 'Rubik Bubbles', cursive;color: antiquewhite;width:500px" type="submit" class="btn btn-success">Dash</button><br><br><br></a> 
<a href="/fights"><button id="start" style="font-family: 'Rubik Bubbles', cursive;color: antiquewhite;width:500px" type="submit" class="btn btn-success">Fights</button><br><br><br></a> 
</center>
{% endblock %}
