{% extends "layout.html" %}
{% block title %}
   Inicio
{% endblock %}

{% block main %}

<center>

            <h1 style="font-family: 'Rubik Glitch', cursive; color:antiquewhite; margin-top: 10px;">LEARNKF</h1>
        </div>
        <img src="https://d35aaqx5ub95lt.cloudfront.net/images/331a32943ff73be28537dfc7469d5639.svg" ><br>
    <h3 style="font-family: 'Rubik Bubbles', cursive;color: antiquewhite;">¡Inglés básico e interactivo <br> especialmente para niños!</h3><br>
        <a href="/register"><button style="width: 200px; margin: 10px;" type="submit" class="btn btn-success">Iniciar</button></a><br>
       <a href="/login"><button style="width: 200px;" type="submit" class="btn btn-dark">Ya tengo una cuenta</button></a> 
    </center>

    
    {% endblock %}