{% extends "layout.html" %}
{% block title %}
{% endblock %}

{% block main %}
<a href="/"><button type="button" class="btn-close btn-close-white" aria-label="Close"></button></a>
<center>
<h1 id="start" style="font-family: 'Rubik Glitch', cursive;color: antiquewhite;">LET'S START</h1><br><br><br><br>

<a href="/colors"><button id="start" style="font-family: 'Rubik Bubbles', cursive;color: antiquewhite;width:500px" type="submit" class="btn btn-success">Nivel 1: Colors</button><br><br><br></a> 
<a href="/animals"><button id="start" style="font-family: 'Rubik Bubbles', cursive;color: antiquewhite;width:500px" type="submit" class="btn btn-success">Nivel 2: Animals</button><br><br><br></a> 
<a href="/sopadeletras"><button id="start" style="font-family: 'Rubik Bubbles', cursive;color: antiquewhite;width:500px" type="submit" class="btn btn-success">Nivel 3: Days of the week</button><br><br><br></a> 

</center>
{% endblock %}