<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLIDE PUZZLE</title>
    <link rel="stylesheet" href="/static/puzzle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&family=Rubik+Glitch&display=swap');
        </style>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <a href="/infosemana"><button type="button" class="btn-close btn-close-white" aria-label="Close"></button></a><br><br>
    <center>
        <h1 style="font-family: 'Rubik Glitch', cursive; color:antiquewhite; margin-top: 10px;">DAYS OF THE WEEK</h1>
        <h3 style="font-family: 'Rubik Bubbles', cursive;color: antiquewhite;">Ordena los días de la semana desde domingo hasta sábado! <br>Puedes escoger el nivel de dificultad e intentarlo de nuevo</h3><br>
    </center>
<br>

    <div id="puzzle_container">
        <div class="puzzle_block">Sunday</div>
        <div class="puzzle_block">Monday</div>
        <div class="puzzle_block">Tuesday</div>
        <div class="puzzle_block">Wednsday</div>
        <div class="puzzle_block">Thursday</div>
        <div class="puzzle_block">Friday</div>
        <div class="puzzle_block">Saturday</div>
        <div class="puzzle_block">!</div>
    </div>
    <div id="difficulty_container">
        <div class="difficulty_button active">EASY</div>
        <div class="difficulty_button">MEDIUM</div>
        <div class="difficulty_button">HARD</div>
    </div><br><br>
    <br><a href="/ahorcado"><button style="height: 50px;width: 200px; float: right;" id="nextpage" class="btn btn-success">Next</button></a>

    <script src="/static/puzzle.js"></script>

</body>
</html>