{% extends "layout.html" %}
{% block title %}
{% endblock %}


{% block main %}

<a href="/colors"><button type="button" class="btn-close btn-close-white" aria-label="Close"></button></a>
<marquee scrolldelay= 100 direction= left hspace=200px style="font-family: 'Rubik Bubbles', cursive;color: antiquewhite;"> Encuentra los colores en ingles y espanol antes de que acabe el tiempo.</marquee>
<div class="cuerpo">
<section class="section1">
<h1 style="font-family: 'Rubik Glitch', cursive; color:antiquewhite; margin-top: 10px;">Color Memory Game</h1><br><br>
<table> 
    <tr> 
        <td> <button id="0" onclick="destapar(0)"> </button></td>
        <td> <button id="1" onclick="destapar(1)"> </button></td>
        <td> <button id="2" onclick="destapar(2)"> </button></td>
        <td> <button id="3" onclick="destapar(3)"> </button></td>
    </tr>
    <tr> 
        <td> <button id="4" onclick="destapar(4)"> </button></td>
        <td> <button id="5" onclick="destapar(5)"> </button></td>
        <td> <button id="6" onclick="destapar(6)"> </button></td>
        <td> <button id="7" onclick="destapar(7)"> </button></td>
    </tr>

    <tr> 
        <td> <button id="8" onclick="destapar(8)"> </button></td>
        <td> <button id="9" onclick="destapar(9)"> </button></td>
        <td> <button id="10" onclick="destapar(10)"> </button></td>
        <td> <button id="11" onclick="destapar(11)"> </button></td>
    </tr>

    <tr> 
        <td> <button id="12" onclick="destapar(12)"> </button></td>
        <td> <button id="13" onclick="destapar(13)"> </button></td>
        <td> <button id="14" onclick="destapar(14)"> </button></td>
        <td> <button id="15" onclick="destapar(15)"> </button></td>
    </tr>
</table>
</section>

<section class="section2"> 
    <h2 id="aciertos" class="estadisticas">Bull's eye: 0</h2>
    <h2 id="t-restante" class="estadisticas">Time: 30 segundos</h2>
    <h2 id="movimientos" class="estadisticas">Movements: 0</h2>
</section>
</div>

    <center> <a href="/levels"><button id="start" style="font-family: 'Rubik Bubbles', cursive;color: antiquewhite;width:500px" type="submit" class="btn btn-success">Menu</button><br><br><br></a></center>

    <script src="/static/main.js"> </script>

{% endblock %}
