{% extends "layout.html" %}
{% block title %}
    INICIO
{% endblock %}

{% block main %}
<a href="/infoanimals"><button type="button" class="btn-close btn-close-white" aria-label="Close"></button></a>
<center> 
    <h1 style="font-family: 'Rubik Glitch', cursive; color:antiquewhite; margin-top: 10px;">Vocabulario de Animales</h1>
    <h2 style="font-family: 'Rubik Glitch', cursive; color:antiquewhite; margin-top: 10px;">Ingles y Espanol</h2>
</center>

<div class="contenedor" style="font-family: 'Rubik Glitch', cursive; color:antiquewhite; margin-top: 10px; background-color: #00004d;">
    <div class="col">
        <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
                <p><font size="2"><b> Águila: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Eagle</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Alacrán ; Escorpión: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Scorpion</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Almeja: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Clam</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Antílope: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Antelope</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Araña: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Spider</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Ardilla: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Squirrel</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Atún: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Tuna</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Ave del paraíso: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Bird of paradise</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Avestruz: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Ostrich</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Aves: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Birds</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Avispa: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Wasp</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Bacalao: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Cod</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Ballena: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Whale</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Boa: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Boa</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Buey: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Ox</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Búfalo: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Buffalo</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Buitre: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Vulture</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Burro: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Donkey</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Caballo: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Horse</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Cabra: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Goat</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Calamar: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Squid</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Camello: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Camel</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Canario: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Canary</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Cangrejo: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Crab</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Cangrejo de río: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Crayfish</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Canguro: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Kangaroo</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Caracol: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Snail</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Castor: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Beaver</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Cebra: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Zebra</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Cerdo: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Pig</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Chimpancé: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
             <font size="2" color="#008000"><b> Chimpanzee</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Ciervo: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Deer</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Cigarra: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Cicada</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Cigüeña: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Stork</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Cisne: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Swan</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Cocodrilo: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Crocodile</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Codorniz: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Quail</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Comadreja: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Weasel</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Conejo: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Rabbit</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Cordero: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Lamb</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Crustáceos: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Crustaceans</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Cucaracha: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Cockroach</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Cuervo: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Crow</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Delfín: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Dolphin</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Elefante: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Elephant</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Erizo: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Hedgehog</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Erizo de mar: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Sea urchin</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Escarabajo: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Beetle</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Faisán: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Pheasant</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Foca: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Seal</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Gacela: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Gazelle</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Gallina: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Hen</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Gallo: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Cock</b></font><!--mstheme--></font></td>
          </tr>
    </div>
    <div class="col">
        
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Garza: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Heron</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Gato: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Cat</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Gaviota: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Seagull</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Golondrina: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Swallow</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Gorila: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Gorilla</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Gorrión: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Sparrow</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Grillo: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Cricket</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Guacamayo: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Macaw</b></font><!--mstheme--></font></td>
          </tr>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Halcón: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Hawk ; Falcon</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Hipopótamo:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Hippopotamus</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Hormiga:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Ant</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Jirafa:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Giraffe</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Lagarto:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Lizard</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Langosta:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Spiny ; Rock lobster</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Lechuza:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Owl</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>León:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Lion</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Leopardo:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Leopard</b></font><!--mstheme--></font></td>
          </tr>  
          <tr>  
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Lobo:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Wolf</b></font><!--mstheme--></font></td>
          </tr>
      
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Loro:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Parrot</b></font><!--mstheme--></font></td>
          </tr>
      
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Mariposa:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Butterfly</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Marmota:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Marmot</b></font><!--mstheme--></font></td>
          </tr>  
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Mono:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Monkey</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Mosca:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Fly</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Mosquito:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Mosquito</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Murciélago:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Bat</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Nutria:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Otter</b></font><!--mstheme--></font></td>
          </tr> 
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Oso:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Bear</b></font><!--mstheme--></font></td>
          </tr>
         
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Oveja:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Ewe</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Pájaro carpintero:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Woodpecker</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Paloma:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Dove</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Pantera:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Panther</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Pato:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Duck</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Pavo:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Turkey</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Pavo real:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Peacock</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Pelicano:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Pelican</b></font><!--mstheme--></font></td>
          </tr>
          <tr> 
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Perico:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Parakeet</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Perro:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Dog</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Pingüino:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Penguin</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Pollo:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Chicken</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Pulpo:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Octopus</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Rana:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Frog</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Rata:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Rat</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Ratón:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Mouse</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Reno:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Reindeer</b></font><!--mstheme--></font></td>
          </tr> 
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Rinoceronte:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Rhinoceros</b></font><!--mstheme--></font></td>
          </tr>  
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Saltamontes:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Grasshopper</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Serpiente:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Snake</b></font><!--mstheme--></font></td>
          </tr>
          <tr> 
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Ternera:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Calf</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Tigre:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b>Tiger</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Toro:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Bull</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Tortuga:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b>Tortoise ; Turtle</b></font><!--mstheme--></font></td>
          </tr> 
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Vaca:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Cow</b></font><!--mstheme--></font></td>
          </tr> 
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Yegua:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Mare</b></font><!--mstheme--></font></td>
          </tr> 
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Zorro:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Fox</b></font><!--mstheme--></font></td>
          </tr>
    </div>
  
</div>

<div class="contenedor">
    <div class="col">
        <a href="/infoanimals"><button id="start" style="font-family: 'Rubik Bubbles', cursive;color: antiquewhite;width:500px" type="submit" class="btn btn-success">Volver</button></a> 
    </div>
    <div class="col">
        <a href="/animals"><button id="start" style="font-family: 'Rubik Bubbles', cursive;color: antiquewhite;width:500px" type="submit" class="btn btn-success">Siguiente</button><br><br><br></a> 
    </div>
</div>

{% endblock %}