{% extends "layout.html" %}
{% block title %}
    INICIO
{% endblock %}

{% block main %}
<a href="/infocolors"><button type="button" class="btn-close btn-close-white" aria-label="Close"></button></a>
<center> 
    <h1 style="font-family: 'Rubik Glitch', cursive; color:antiquewhite; margin-top: 10px;">Vocabulario de Colores</h1>
    <h2 style="font-family: 'Rubik Glitch', cursive; color:antiquewhite; margin-top: 10px;">Ingles y Espanol</h2>
</center>

<div class="contenedor" style="font-family: 'Rubik Glitch', cursive; color:antiquewhite; margin-top: 10px; background-color: #00004d;">

    <div class="col">
        <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
                <p><font size="2"><b> Negro: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Black</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Azul: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Blue</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Cafe: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Brown</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Gris: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Gray</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Verde: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Green</b></font><!--mstheme--></font></td>
          </tr>          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Plateado: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Silver</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Navy blue: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Azul marino</b></font><!--mstheme--></font></td>
          </tr>

    </div>
    <div class="col">
        <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Naranja: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Orange</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Rosa: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b> Pink</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Morado: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Purple</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Rojo: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Red</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>turquesa: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> turquoise</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Dorado: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> golden</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Peach: </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b> Durazno</b></font><!--mstheme--></font></td>
          </tr>
    </div>

    
</div>

<div class="contenedor">
    <div class="col">
        <a href="/infocolors"><button id="start" style="font-family: 'Rubik Bubbles', cursive;color: antiquewhite;width:500px" type="submit" class="btn btn-success">Volver</button></a> 
    </div>
    <div class="col">
        <a href="/colors"><button id="start" style="font-family: 'Rubik Bubbles', cursive;color: antiquewhite;width:500px" type="submit" class="btn btn-success">Siguiente</button><br><br><br></a> 
    </div>
</div>

{% endblock %}