{% extends "layout.html" %}
{% block title %}
    INICIO
{% endblock %}

{% block main %}
<a href="/infosemana"><button type="button" class="btn-close btn-close-white" aria-label="Close"></button></a>
<center> 
    <h1 style="font-family: 'Rubik Glitch', cursive; color:antiquewhite; margin-top: 10px;">Vocabulario de los dias de la semana</h1>
    <h2 style="font-family: 'Rubik Glitch', cursive; color:antiquewhite; margin-top: 10px;">Ingles y Espanol</h2>
</center>

<div style="font-family: 'Rubik Glitch', cursive; color:antiquewhite; margin-top: 10px; background-color: #00004d;">
    <center>
        <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Lunes:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Monday</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Martes:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b>Tuesday</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Miercoles:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Wednesday</b></font><!--mstheme--></font></td>
          </tr>
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Jueves:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <font size="2" color="#008000"><b>Thursday</b></font><!--mstheme--></font></td>
          </tr> 
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Viernes:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Friday</b></font><!--mstheme--></font></td>
          </tr> 
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Sábado:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Saturday</b></font><!--mstheme--></font></td>
          </tr> 
          <tr>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
              <p><font size="2"><b>Domingo:  </b></font><!--mstheme--></font></td>
            <td style="border-style: solid; border-width: 1px" bordercolor="#000000"><!--mstheme--><font face="verdana,arial,helvetica">
               <font size="2" color="#008000"><b>Sunday</b></font><!--mstheme--></font></td>
               <p></p>
               <p></p>
          </tr>
    </center>
       
</div>

<div class="contenedor">
    <div class="col">
        <a href="/infosemana"><button id="start" style="font-family: 'Rubik Bubbles', cursive;color: antiquewhite;width:500px" type="submit" class="btn btn-success">Volver</button></a> 
    </div>
    <div class="col">
        <a href="/"><button id="start" style="font-family: 'Rubik Bubbles', cursive;color: antiquewhite;width:500px" type="submit" class="btn btn-success">Siguiente</button><br><br><br></a> 
    </div>
</div>

{%endblock%}